html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    overflow: auto;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto','Open Sans','Helvetica Neue',Arial,sans-serif;
}

.no-padding {
    padding: 0;
}

h1 {
    text-align: center;
}

.bg {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bg-main {
    z-index: -1;
}

.img-1 { background-image: url(../img/background-1.jpg); }
.img-2 { background-image: url(../img/background-2.jpg); }
.img-3 { background-image: url(../img/background-3.jpg); }
/* .img-4 { background-image: url(../img/background-4.png); }
.img-5 { background-image: url(../img/background-5.png); }*/

@media only screen and (max-width : 480px) {
    section { top: 15%; }

    #title { font-size: 5em; }

    .footer { visibility: hidden; }

    .form-title { margin-top: 1em; }
}

@media only screen and (min-width: 481px) {
    section { top: 20%; }

    #title { font-size: 5em; }

    .footer { visibility: visible; }

    .form-title { margin-top: 2em; }
}

@media only screen and (min-width : 768px) {
    section { top: 20%; }

    #title { font-size: 7em; }

    .footer { visibility: visible; }

    .form-title { margin-top: 2em; }
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

section {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
}

#description {
    font-size: 2em;
    font-weight: 100;
}

.btn-circle {
    font-size: 5em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid white;
    border-radius: 50%;
}

.btn > i {
    padding: 0 10px;
}

#titleBtn {
    margin-top: 40px;
}

#closeBtn {
    font-size: 5em;
    color: black;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    background-color: rgba(42, 42, 42, 0);
}

.footer > p {
    color: white;
    font-size: 1.5em;
    margin-left: 1.5em;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

li {
    margin-top: 3em;
}

li > a {
    font-size: 3em;
    color: white;
    padding: .3em;
}

li > a:hover, li >a:visited:hover {
    color: #424242;
}

li > a:visited {
    color: #ffffff;
}

.form-title {
    font-weight: 700;
}

.form-description {
    font-weight: 500;
}

.form-required {
    display: inline;
    color: red;
}

.message {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.2 {
    float: left;
}

input[type="submit"] {
    font-size: 1.5em;
    font-weight: 300;
}
